<div class="quadwrap">
<div class="quadbox" id="fires">
	<h2 style="float:left;margin-right:10px;">Fires</h2> 
	<a class="btn" data-toggle="modal" href="#myModal" style="margin-top:4px;">New+</a>
	
	<table class="table table-striped table-bordered table-condensed">
 		<thead>
  			<tr>
    			<th>Task</th>
    			<th>Days Left</th>
  			</tr>
  		</thead>
  		<tbody>
  		<% @fires.each do |task| -%>
   			<tr>
    			<td><%= link_to task.name, task_path(task) %></td>
    			<td><%= distance_of_time_in_words(Time.now, task.deadline) %></td>
    		</tr>
    	<% end -%>
   		</tbody>
	</table>
</div>

<div class="quadbox" id="production">
	<h2 style="float:left;margin-right:10px;">Production</h2>
	<a class="btn" data-toggle="modal" href="#myModal" style="margin-top:4px;">New+</a>
	
	<table class="table table-striped table-bordered table-condensed">
 		<thead>
  			<tr>
    			<th>Task</th>
    			<th>Days Left</th>
  			</tr>
  		</thead>
  		<tbody>
  		<% @production.each do |task| -%>
   			<tr>
    			<td><%= link_to task.name, task_path(task) %></td>
    			<td><%= distance_of_time_in_words(Time.now, task.deadline) %></td>
    		</tr>
    	<% end -%>
   		</tbody>
	</table>
</div>

<div class="quadbox" id="distractions">
	<a class="btn" data-toggle="modal" href="#myModal" style="margin-top:4px;">New+</a>
	
	<h2 style="float:left;margin-right:10px;">Distractions</h2>
	<table class="table table-striped table-bordered table-condensed">
 		<thead>
  			<tr>
    			<th>Task</th>
    			<th>Days Left</th>
  			</tr>
  		</thead>
  		<tbody>
  		<% @distractions.each do |task| -%>
   			<tr>
    			<td><%= link_to task.name, task_path(task) %></td>
    			<td><%= distance_of_time_in_words(Time.now, task.deadline) %></td>
    		</tr>
    	<% end -%>
   		</tbody>
	</table>
</div>
</div>

<div class="modal" id="myModal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>New Task!</h3>
  </div>
  <div class="modal-body">
    <%= render 'newtask' %>
  </div>
</div>

